.App {
	max-width: 1200px;
	padding: 0 1rem;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-around;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
}

.column input {
	border-radius: 3px;
	margin: 10px 0;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.43);
	font-size: 16px;
	width: 80%;
}

.column label {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
}

.header {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
}
